@import "../../sass/variables";
.cart {
  width: 50vw;
  height: max-content;
  max-height: 90vh;
  padding: 0.3rem 0;
  color: $color-black;
  background-color: $color-light-blue;
  border-radius: $border-radius;
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 1000;
  animation: 0.5s openCart linear;
  overflow: hidden;
  .cart--top {
    padding: 1rem;
    position: relative;
    @include flexCenter;
    @include card;
    h4 {
      text-transform: uppercase;
    }
    span {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }
  .cart--cartItems {
    padding: 1rem;
    max-height: 40vh;
    overflow-y: auto;
    @include card;
  }
  .cart--info {
    padding: 1rem;
    text-align: left;
    background-color: $color-light-pink;
    @include card;
    .cart--info-subtotalBeforeDiscount {
      font-size: 1.2rem;
      span {
        color: red;
        text-decoration: line-through;
      }
    }
    .cart--info-finalSubtotal {
      span {
        font-size: 1.5rem;
      }
    }
  }
  .cart--btns {
    @include card;
    button {
      width: 80%;
      margin: 0.3rem auto;
      padding: 0.9rem 1.2rem;
      font-size: 1.4rem;
      @include card;
      background-color: $color-orange;
      border-radius: $border-radius;
      transition: $transition;
      &:hover {
        background-color: rgba($color-orange, 0.8);
      }
    }
    & > button {
      font-size: 1.2rem;
      background-color: $color-yellow;
      &:hover {
        background-color: rgba($color-yellow, 0.8);
      }
    }
  }
}

@keyframes openCart {
  0% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 665px) {
  .cart {
    width: 100%;
  }
}
