@import "../../sass/variables";
.shop--container {
  margin-top: 0;
  padding-top: 70px;
  background-color: $color-plum;
  .shop--header {
    position: relative;
    h2 {
      font-size: 3rem;
      text-align: center;
    }
    svg {
      position: absolute;
      bottom: -17px;
      right: 4%;
      z-index: 100;
    }
  }

  .shopItems--container {
    padding: 1rem 0;
    background-color: $color-light-blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .carouselItem {
      width: 32vw;
      padding: 1rem;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 0.7rem;
      &:hover {
        background-color: $color-green;
      }
      &:hover .carouselItem--img {
        transform: rotateZ(-20deg);
      }
      &:hover .carouselItem--img .carouselItem--img-price {
        transform: rotateZ(20deg);
      }
      .carouselItem--img {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        transition: transform 1s ease-out;
        img {
          height: 35vh;
          object-fit: cover;
          object-position: center;
        }
        .carouselItem--img-price {
          width: 3rem;
          height: 3rem;
          text-decoration: line-through;
          text-decoration-color: red;
          background-color: $color-yellow;
          border-radius: 50%;
          @include flexCenter;
          position: absolute;
          bottom: 12%;
          right: 1%;
          transition: transform 1s ease-out;
        }
        h5 {
          margin-top: 1rem;
          font-family: $font-sec;
          font-size: 1.4rem;
          letter-spacing: 2px;
        }
      }

      .carouselItem--details {
        .carouselItem--details-description {
          p {
            font-size: 1.2rem;
            line-height: 1.2;
          }
        }
      }
      button {
        @include btn($color-yellow);
        &:hover {
          transform: scale(1.1);
        }
        span {
          padding-left: 0.5rem;
          border-left: 1px solid black;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }
  }
}
@media screen and (max-width: 825px) {
  .shop--container {
    .shop--header {
      svg {
        bottom: -70px;
        right: 1%;
      }
    }
    .shopItems--container {
      grid-template-columns: 1fr 1fr;
      .carouselItem {
        width: 40vw;
        .carouselItem--details {
          .carouselItem--details-description {
            p {
              font-size: 1.2rem;
              line-height: 1.2;
            }
          }
        }
        button {
          @include btn($color-yellow);
          padding: 0.8rem 0.8rem;
          font-size: 1rem;
          &:hover {
            transform: scale(1.1);
          }
          span {
            padding-left: 0.2rem;
            border-left: 1px solid black;
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 665px) {
  .shop--container {
    .shopItems--container {
      .carouselItem {
        .carouselItem--img {
          img {
            height: 25vh;
          }
        }
      }
    }
  }
}
